<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心主页</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css" media="all">

    <meta name="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        body{
            padding: 20px;
        }
        .layui-form-label{
            width: 110px!important;
            padding: 8px 10px !important;
        }
        .layui-input{
            width: 70%;
        }
    </style>
</head>
<body>
    <div>
        <div class="layui-form layui-form-pane">

            <div class="layui-form-item">
                <label class="layui-form-label">原密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="old_password" placeholder="请输入原密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="new_password" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="again_password" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <button class="layui-btn layui-btn-normal" id="change_pass">确定</button>
        </div>
    </div>



</body>

<script src="/public/layui/layui.js" charset="utf-8"></script>
<script>

    layui.use(['element','layer'], function(){
        var element = layui.element;
        var $ = layui.jquery;
        var layer = layui.layer;

        $('#change_pass').click(function () {
            var old_password = $('input[name=old_password]').val();
            var new_password = $('input[name=new_password]').val();
            var again_password = $('input[name=again_password]').val();

            if(old_password == '' || new_password == ''){
                layer.msg('内容不能为空！')
                return false
            }
            if(new_password!=again_password){
                layer.msg('两次输入的新密码不一致！')
                return false
            }

            var data = {
                old_pass: old_password,
                new_pass: new_password
            }
            fetch('/api/change_pass',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(res=> res.json())
            .then(function (res) {
                if(res.msg == 'OK'){
                    layer.msg('密码修改成功,请重新登录');
                    setTimeout(function () {
                        parent.location.reload()
                    },2000)
                }
            }).catch(err => console.log(err))
        })


    });

</script>
</html>