<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css"  media="all">
</head>
<body>
    <%- include head.ejs %>
    <h3>这里是文章主页</h3>
    <p>准备页面布局，寄语，子目录跳转链接</p>
</body>
<script src="/public/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('element', function(){
        var element = layui.element
            ,$ = layui.jquery;

        $('.layui-nav-item').eq(2).addClass('layui-this')


    });
</script>
</html>