<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css"  media="all">
</head>
<body>
    <%- include head.ejs %>
    <h3>这里是留言</h3>
    <p>准备留言组件，畅言</p>
</body>
<script src="/public/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('element', function(){
        var element = layui.element
            ,$ = layui.jquery;

        $('.layui-nav-item').eq(4).addClass('layui-this')


    });
</script>
</html>